# -*- mode: ruby -*-
# vi: set ft=ruby :

# Vagrantfile API/syntax version. Don't touch!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "ubuntu/xenial64"
  
  # Prevent "Inappropriate ioctl for device" message
  config.ssh.shell = "bash -c 'BASH_ENV=/etc/profile exec bash'"

  config.vm.define :example do |example|
  end

  # We have to use port 3000 because it is whitelisted by Auth0
  config.vm.network :forwarded_port, host: 8001, guest: 80
  config.vm.network :forwarded_port, host: 33061, guest: 3306

  config.vm.provider "virtualbox" do |vb|
    vb.memory = 2048
    vb.cpus = 2
  end

  config.vm.synced_folder "./", "/var/www/html", owner: "www-data", group: "www-data", mount_options: ["dmode=777", "fmode=777"]

  # General server provisioning
  config.vm.provision "shell" do |s|
    s.path = "./.devl/etc/provision/provision_general.sh"
  end

  # Apache2 server provisioning
  config.vm.provision "shell" do |s|
    s.path = "./.devl/etc/provision/provision_apache.sh"
    s.args = "example.com admin@example.com /var/www/html/entry_point"
  end

  # PHP 7.0 server provisioning
  config.vm.provision "shell" do |s|
    s.path = "./.devl/etc/provision/provision_php_70.sh"
  end

  # MySql server provisioning
  config.vm.provision "shell" do |s|
    s.path = "./.devl/etc/provision/provision_mysql.sh"
    s.args = "username password"
  end

end
